<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
				
					<div class="my-card">
						<h1 class="text-center">Posts</h1>

						<table class="table caption-top">
						  <thead>
						    <tr>
						      <th scope="col">Title</th>
						      <th scope="col">Category</th>
						      <th scope="col">Price</th>
						      <th scope="col">Action</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr th:each="p : ${list}">
						      <th scope="row" th:text="${p.title}">1</th>
						      <td th:text="${p.catgory}">Mark</td>
						      <td th:text="${p.price}">Otto</td>
						      <td>
						      	<a class="btn" th:href="@{'/user/'+${p.id}+'/post'}">View</a>
						      </td>
						    </tr>
						   
						  </tbody>
						</table>
						 <nav aria-label="Page navigation example">
						  <ul class="pagination justify-content-center">
						    <li class="page-item" th:classappend="${current > 0 ? '' : 'disabled'}">
						      <a class="page-link" href="#" tabindex="-1" aria-disabled="true" th:href="@{'/user/index/'+${current-1}}">Previous</a>
						    </li>
						    <li class="page-item" th:classappend="${current == i-1 ? 'active' : ''} " th:each="i : ${#numbers.sequence(1, total)}"><a class="page-link" th:href="@{'/user/index/'+${i-1}}" href="#"><span th:text="${i}"></span></a></li>

						    <li class="page-item" th:classappend="${current < total-1 ? '' : 'disabled'}">
						      <a class="page-link" href="#" th:href="@{'/user/index/'+${current+1}}">Next</a>
						    </li>
						  </ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>