<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<h1>SelliT </h1>
		<br>
		<br>
		<h2>Only platform for student to sell and Buy products for Student community</h2>
		<br>
		<h3>Steps to post products:<br>
			1. First signUp, then login using credential.<br>
			2. Click setting option on left of Dashboard.<br>
			3. Select Activate Premium.<br> 
			4. Now "+ Add post " option will appear. Click Add Post.<br>
			5. Then enter about the product you want to sell.
		</h3>
		<img src="C:/Users/Balaji/Documents/VIT 2yr Projects/SelliT-main/src" alt="My Image">
	</section>
</body>
</html>