<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
				<!--div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
					<p th:text="${session.message.content}"></p>
					<th:block th:text="${session.removeAttribute(message)}"> </th:block>
				</div> -->
				<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
					<p th:text="${session.message.content}"></p>
					<th:block th:text="${#session.removeAttribute(message)}"> </th:block>
				</div>
					<div class="my-card">
						<h1 class="text-center">Login</h1>
						<form action="#" th:action="@{/login}" method="post" >
							
							<div th:if="${param.error}" class="alert alert-danger">
								Invalid Username and Password
							</div>
							
							<div th:if="${param.logout}" class="alert alert-success">
								Successfuly logout !!
							</div>
						    
						    <!-- Email field -->
							<div class="mb-3">
						    	<label for="username" class="form-label">Username</label>
						    	<input type="email" class="form-control" required id="username" aria-describedby="emailHelp" placeholder="Enter here" name="username">
						    </div>
						    
					
							<div class="mb-3">
						    	<label for="pass" class="form-label">Password</label>
						    	<input type="password" class="form-control" required id="passward" aria-describedby="emailHelp" placeholder="Enter here" name="password">
						    </div>

						    <div class="mb-3">
						   		 <button class="form-control btn btn-primary" type="submit">Submit</button>
						    </div>
						    
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>